{% extends 'base.html' %}

{% block main %}
<h2>Log in:</h2>
<form action="login" method="POST">
    {{ form.csrf_token }}  
    {{ form.username.label }}
    {{ form.username(size=24) }}
    {{ form.password.label }}
    {{ form.password(size=24)}}
    <!-- <label for="username"> username </label>
    <input type="text" id="username" name="username" required>
    
    <br>
    <label for="password"> password </label>
    <input type="text" id="password" name="password" required>  -->
    {{ form.submit }}
    <!-- <input type="submit" value="login"> -->
</form>
<p class="no-account"><a href="{{ url_for('register') }}">Don't have account?</a></p>
{% endblock %}